<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snap.dao.mapper.BooksTypeMapper">

    <resultMap id="bookFindAll" type="com.snap.dao.pojo.BookType">
        <id column="typeID" property="typeID"></id>
        <result column="typeName" property="typeName"></result>
        <result column="typeDesc" property="typeDesc"></result>
        <collection property="booksList" ofType="com.snap.dao.pojo.Books">
            <id column="bookID" property="bookID"></id>
            <result property="bookTypeID" column="bookTypeID"></result>
            <result property="bookName" column="bookName"></result>
            <result property="bookPrice" column="bookPrice"></result>
            <result property="bookNumber" column="bookNumber"></result>
            <result property="bookDesc" column="bookDesc"></result>
        </collection>
    </resultMap>

    <select id="selectAll" resultType="com.snap.dao.pojo.BookType">
        select typeID,typeDesc,typeName
        from booktype
        where
        <if test="typeName!='' and typeName!=null">
            typeName like concat('%',#{typeName},'%') and
        </if>
        1=1
    </select>
    <select id="selectOrder" resultMap="bookFindAll">
        select typeID,
               typeName,
               typeDesc,
               bookID,
               bookTypeID,
               bookName,
               bookPrice,
               bookNumber,
               bookDesc
        from booktype
                 inner join books on typeID = bookTypeID
    </select>

    <update id="update">
        update booktype
        set typeName=#{typeName},
            typeDesc=#{typeDesc}
    </update>

    <delete id="delete">
        delete
        from booktype
        where typeID = #{typeID};
    </delete>

</mapper>